@using PagedList;
@using PagedList.Mvc;
@*@model IEnumerable<Tour.Models.Attrations>*@
@model IPagedList<Tour.Models.Attrations>

@{
    ViewBag.Title = "觀光地管理";
    Layout = "~/Views/Shared/_Layout_Manager.cshtml";
}

<h2 class="mt-3">觀光地管理</h2>
<br>
<table class="table">
    <tr class="row">
        <th class="col-4">
            @Html.DisplayNameFor(model => model.FirstOrDefault().AttrationName)
        </th>
        <th class="col-4 text-left">
            @Html.DisplayNameFor(model => model.FirstOrDefault().Address)
        </th>
        <th class="col text-left">
            @Html.DisplayNameFor(model => model.FirstOrDefault().Tel)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr class="row">
            <td class="col-4 text-truncate">
                @Html.DisplayFor(modelItem => item.AttrationName)
            </td>
            <td class="col-4 text-truncate">
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td class="col text-truncate">
                @Html.DisplayFor(modelItem => item.Tel)
            </td>
            <td>
                <button type="button" id="@item.AttrationID" class="btn btn-warning btn-sm" data-toggle="modal" data-target="#showEditModal" onclick="getEditData(event)">
                    編輯資料
                </button>

                <button type="button" id="@item.AttrationID" class="btn btn-success btn-sm" data-toggle="modal" data-target="#showDetailModal" onclick="getDetailData(event)">
                    查看詳細資料
                </button>




                @*@Html.ActionLink("Delete", "Delete", new { id = item.AttrationID })*@
            </td>
        </tr>
    }

</table>

@Html.PagedListPager(Model, page => Url.Action("Index", new { page }))


@* modal-Details *@
<div class="modal fade" id="showDetailModal" tabindex="-1">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @Html.Action("_Details", new { id = 5 })
            </div>
        </div>
    </div>
</div>

@* modal-Edit *@
<div class="modal fade" id="showEditModal" tabindex="-1">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">

                <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @Html.Action("_Edit")
            </div>
        </div>
    </div>
</div>




@section scripts{
    <script>

        $('.pagination-container > ul').addClass('justify-content-center');
        $('.pagination-container > ul > li').removeClass().addClass('page-item');
        $('.pagination-container > ul > li > a').addClass('page-link');

        function getDetailData(evt) {
            $('#showDetailModal .modal-body').load("/Attrations/_Details/" + evt.target.id)
        }

        function getEditData(evt) {
            $('#showEditModal .modal-body').load("/Attrations/_Edit/" + evt.target.id)
        }

    </script>
}


