@model IEnumerable<Tour.Models.Attrations>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AttrationName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AttrationPhotos)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AttrationName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AttrationPhotos)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.AttrationID }) |
            @Html.ActionLink("Details", "Details", new { id=item.AttrationID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.AttrationID })
        </td>
    </tr>
}*@



@*</table>*@

<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script>

    $.ajax({
            type: 'get',
        url: 'https://media.taiwan.net.tw/XMLReleaseALL_public/v2.0/Zh_tw/AttractionList.xml',
            success: function (data) {
                console.log(data.Infos);

            },
            error: function () {
                alert('error');
            }
        });




</script>
