@using PagedList;
@using PagedList.Mvc;
@*@model IEnumerable<MCSDD01.Models.Members>
       要用IPagedList<> 不能選錯!!*@
@model IPagedList<MCSDD01.Models.Members>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().MemberID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().MemberName)
        </th>
        @*<th>
                @Html.DisplayNameFor(model => model.MemberPhotoFile)
            </th>*@
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().MemberBirthday)
        </th>
        @*<th>
                @Html.DisplayNameFor(model => model.Account)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Password)
            </th>*@
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().CreatedDate)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MemberID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MemberName)
            </td>
            @*<td>
                    @Html.DisplayFor(modelItem => item.MemberPhotoFile)
                </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.MemberBirthday)
            </td>
            @*<td>
                    @Html.DisplayFor(modelItem => item.Account)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Password)
                </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
            <td>
                @*@Html.ActionLink("編輯資料", "_Edit", new { id = item.MemberID }, new { @class = "btn btn-warning btn-sm" })*@
                <button type="button" id="@item.MemberID" class="btn btn-warning btn-sm" data-toggle="modal" data-target="#showEditModal" onclick="getEditData(event)">
                    編輯資料
                </button>

                @*@Html.ActionLink("查看詳細資料", "Details", new { id = item.MemberID }, new { @class = "btn btn-success" })*@

                <button type="button" id="@item.MemberID" class="btn btn-success btn-sm" data-toggle="modal" data-target="#showDetailModal" onclick="getDetailData(event)">
                    查看詳細資料
                </button>

                @Html.ActionLink("更改密碼", "Delete", new { id = item.MemberID }, new { @class = "btn btn-primary" })
            </td>
        </tr>
    }

</table>

@Html.PagedListPager(Model, page => Url.Action("Index", new { page }))

@*比較兩邊差異helper寫的是3.0 目前用的是4.0
利用jQuery調整*@
@*<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
        <li class="page-item disabled">
            <a class="page-link">Previous</a>
        </li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
            <a class="page-link" href="#">Next</a>
        </li>
    </ul>
</nav>*@


<div class="modal fade" id="showDetailModal" tabindex="-1">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                @*<h5 class="modal-title" id="exampleModalLabel">會員詳細資料</h5>*@
                <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @Html.Action("_Details", new { id = 1 })
            </div>
            @*<div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>*@
        </div>
    </div>
</div>

<div class="modal fade" id="showEditModal" tabindex="-1">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                @*<h5 class="modal-title" id="exampleModalLabel">會員詳細資料</h5>*@
                <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @Html.Action("_Edit")
            </div>
            @*<div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>*@
        </div>
    </div>
</div>
@section scripts{

    <script>

        $('.pagination-container ul').addClass('justify-content-center');
        $('.pagination-container ul>li').removeClass().addClass('page-item');
        $('.pagination-container ul>li>a').addClass('page-link');



        function getDetailData(evt) {
            $('#showDetailModal .modal-body').load("/Members/_Details/" + evt.target.id)
        }
        function getEditData(evt) {
            $('#showEditModal .modal-body').load("/Members/_Edit/" + evt.target.id)
        }
    </script>
}