@model Tour.Models.Attrations

@{
    ViewBag.Title = "Display";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="card shadow mt-4" href="@Url.Action("Display", new {id = Model.AttrationID})">
    <div class="row">

        <div class="col-md-5">
            @if (Model.Picture1 == "")
            {
                <img src="~/photos/null.jpg" class="img-fluid m-2" />
            }
            else
            {
                <img src="@Model.Picture1" class="img-fluid m-2"  data-toggle="tooltip" data-placement="left" title="@Model.Picdescribe1"/>
            }
        </div>

        <div class="col-md-7">
            <div class="card-body mt-2 mr-2" id="card-body">
                <h2 class="text-dark">
                    <input type="hidden" class="AID" value="@Model.AttrationID" />
                    <strong class="AName">@Model.AttrationName</strong>
                </h2>
                <h4 class="Address" Px="@Model.Px" Py="@Model.Py">@Model.Address</h4>
                <h6 class="Tel" Picture1="@Model.Picture1" Picdescribe1="@Model.Picdescribe1">@Model.Tel</h6>
                <p class="Ticketinfo" Ticketinfo="@Model.Ticketinfo">
                    @Html.Raw(Model.Ticketinfo.ToString().Replace("\n", "<br>")) @*把\n都換成<br>  Html.Raw:遇到html標籤都執行*@
                </p>
                <div class="Description" Description="@Model.Description">
                    @Html.Raw(Model.Description.ToString().Replace("\n", "<br>")) @*把\n都換成<br>  Html.Raw:遇到html標籤都執行*@
                </div>
            </div>
        </div>

    </div>
    <div class="card-footer  bg-white  border-0">



        <div id="map" class="float-right"></div>
        @if (Session["user"] != null)
        {
            <h3 class="text-right">
                <i class="bi bi-heart-fill text-danger addBookMark" data-toggle="tooltip" data-placement="bottom" title="加入書籤"></i>
            </h3>
        }

    </div>
</div>



<div class="text-right mt-5">
    <a href="@Url.Action("Index")"><i class="bi bi-backspace-fill"></i><b>返回主頁</b></a>
</div>

@section css{
    <style>
        /* Set the size of the div element that contains the map */
        #map {
            height: 600px; /* The height is 400 pixels */
            width: 100%; /* The width is the width of the web page */
        }

        #card-body{
            background-color:#9ff5f5
        }
    </style>
    }

@section scripts{
    <script>
        var bookmark = [];

        if (localStorage.getItem("bookmark")) {
            bookmark = JSON.parse(localStorage.getItem("bookmark"));
        }

        $('.addBookMark').click(function () {
            let attration = $(this).closest('.card');
            let newAID = attration.find('.AID').val();

            let foundItem = bookmark.find(item => item.AID == newAID);//找到or沒找到

            if (foundItem === undefined) {
                setBookMark(attration);
            }
            else {
                alert("該景點已在書籤中!!!");
            }

            localStorage.setItem("bookmark", JSON.stringify(bookmark));
        });

        function setBookMark(attration) {
            let newItem = {
                AID: attration.find('.AID').val(),
                AName: attration.find('.AName').text(),
                Address: attration.find('.Address').text(),
                Tel: attration.find('.Tel').text(),
                Px: attration.find('.Address').attr('Px'),
                Py: attration.find('.Address').attr('Py'),
                Picture1: attration.find('.Tel').attr('Picture1'),
                Picdescribe1: attration.find('.Tel').attr('Picdescribe1'),
                Ticketinfo: attration.find('.Ticketinfo').attr('Ticketinfo'),
                Description: attration.find('.Description').attr('Description')
            };
            bookmark.push(newItem);
            alert("景點已加入書籤");
        }

        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>
    }

@section map{
    <script async
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCIsHhLc3NR0CNIU94kRkZy-owisY9ksNw&callback=initMap">
    </script>

    <script>
        // Initialize and add the map
        function initMap() {
            // The location of Uluru
            const position = { lat: @Model.Py, lng: @Model.Px };

            // The map, centered at Uluru
            const map = new google.maps.Map(document.getElementById("map"), {
                zoom: 16,
                center: position,
            });

            //訊息框內文
            const contentString =
                '<div id="content">' +
                '<div id="siteNotice">' +
                "</div>" +
                '<h1 id="firstHeading" class="firstHeading">@Model.AttrationName</h1>' +
                '<div id="bodyContent">' +
                "<p></p>" +
                "</div>" +
                "</div>";

            //訊息框
            const infowindow = new google.maps.InfoWindow({
                content: contentString,
                ariaLabel: "@Model.AttrationName",
            });

            //marker的圖樣
            const image =
                "https://developers.google.com/maps/documentation/javascript/examples/full/images/beachflag.png";

            // The marker, positioned at Uluru
            const marker = new google.maps.Marker({
                position: position,
                map: map,
                icon:image,
            });

            //點擊觸發訊息框
            marker.addListener("click", () => {
                infowindow.open({
                    anchor: marker,
                    map,
                });
            });
        }

        window.initMap = initMap;

    </script>
    }