@*@model IEnumerable<Tour.Models.Attrations>*@
@using PagedList;
@using PagedList.Mvc;
@model IPagedList<Tour.Models.Attrations>

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">

    @foreach (var item in Model)
    {
        <div class="col-lg-4 p-1">
            <div class="card h-100">
                <a class="card-body" href="@Url.Action("Display",item.AttrationID)">

                    @if (item.Picture1 == "")
                    {
                        <img src="~/photos/null.jpg" class="img-fluid mt-2" />
                    }
                    else
                    {
                        <img src="@item.Picture1" class="img-fluid mt-2" />
                    }

                    <div class="card-body">
                        <input type="hidden" value="@item.AttrationID" class="AID" />
                        <h6 class="text-dark">
                            <strong class="PName">@item.AttrationName</strong>
                        </h6>
                    </div>
                </a>
                <div class="card-footer  bg-white  border-0 ">
                    <p>
                        <button class="btn btn-success btn-block addCart"><i class="bi bi-cart2"></i> 加入購物車 &raquo;</button>
                    </p>
                </div>
            </div>
        </div>
    }
</div>

@Html.PagedListPager(Model, page => Url.Action("Index", new { page }))

@section scripts{
    
    <script>

        $('.pagination-container > ul').addClass('justify-content-center');
        $('.pagination-container > ul > li').removeClass().addClass('page-item');
        $('.pagination-container > ul > li > a').addClass('page-link');

    </script>
    
    }