@*@model IEnumerable<Tour.Models.Attrations>*@
@using PagedList;
@using PagedList.Mvc;
@model IPagedList<Tour.Models.Attrations>

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron txtFont">

    <h1 class="display-4">
        <strong>終於解封了 我想去看看</strong>
    </h1>
    <hr class="my-4 bg-white">
    <h4 class="bg-warning p-2 rounded">隨著疫情趨緩，您是不是也準備好來趟難忘的旅程了呢？</h4>
</div>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-lg-4 p-1">
            <div class="card h-100">
                <a class="card-body" href="@Url.Action("Display",new { id = item.AttrationID })">

                    @if (item.Picture1 == "")
                    {
                        <img src="~/photos/null.jpg" class="img-fluid mt-2" />
                    }
                    else
                    {
                        <img src="@item.Picture1" class="img-fluid mt-2" />
                    }

                    <div class="card-body">
                        <input type="hidden" value="@item.AttrationID" class="AID" />
                        <h5 class="text-dark">
                            <strong class="AName">@item.AttrationName</strong>
                        </h5>
                        <p class="text-truncate text-dark Description" Address="@item.Address" Tel="@item.Tel" Px="@item.Px" Py="@item.Py" Picture1="@item.Picture1" Picdescribe1="@item.Picdescribe1" Ticketinfo="@item.Ticketinfo">
                            @item.Description
                        </p>
                    </div>
                </a>
                @if (Session["user"] != null)
                {
                    <div class="text-right">
                        <i class="bi bi-heart-fill text-danger mr-2 mb-2 addBookMark" style="font-size:2rem" data-toggle="tooltip" data-placement="bottom" title="加入書籤"></i>
                    </div>
                }
            </div>
        </div>
    }
</div>

@if (Session["user"] != null)
{
    @* modal-Edit *@
    <div class="modal fade" id="showEditModal" tabindex="-1">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">

                    <button type="button" class="close" data-dismiss="modal">
                        <span>&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    @Html.Action("_EditF", "Members")
                </div>
            </div>
        </div>
    </div>
}

@Html.PagedListPager(Model, page => Url.Action("Index", new { page }))

@section css {
    <style>
        .jumbotron {
            background-image: url('../../photos/2023-03-21 192229.png');
            background-repeat: round;
        }

        .card-body:hover {
            background-color: #ffed87;
        }
    </style>
}

@section scripts{
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>


    <script>
        //PageList
        $('.pagination-container > ul').addClass('justify-content-center');
        $('.pagination-container > ul > li').removeClass().addClass('page-item');
        $('.pagination-container > ul > li > a').addClass('page-link');

        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })


        //modal-Edit
        $('#edit').click(() => {
            getDetailData(evt)
        });

        function getDetailData(evt) {
            $('#showDetailModal .modal-body').load("/Members/_EditF/" + evt.target.id)
        }

        //預覽圖片
        $("#imgInp").change(function () {
            //當檔案改變後，做一些事
            readURL(this);   // this代表<input id="imgInp">
        });

        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $("#preimg").attr('src', e.target.result);
                }
                reader.readAsDataURL(input.files[0]);
            }
        }

        //書籤
        var bookmark = [];
        if (localStorage.getItem("bookmark")) {
            bookmark = JSON.parse(localStorage.getItem("bookmark"));
        }

        $('.addBookMark').click(function () {
            let attration = $(this).closest('.card');
            let newAID = attration.find('.AID').val();

            let foundItem = bookmark.find(item => item.AID == newAID);//找到or沒找到

            if (foundItem === undefined) {
                setBookMark(attration);
            }
            else {
                alert("該景點已在書籤中!!!");
            }

            localStorage.setItem("bookmark", JSON.stringify(bookmark));
        });

        function setBookMark(attration) {
            let newItem = {
                AID: attration.find('.AID').val(),
                AName: attration.find('.AName').text(),
                Address: attration.find('.Description').attr('Address'),
                Tel: attration.find('.Description').attr('Tel'),
                Px: attration.find('.Description').attr('Px'),
                Py: attration.find('.Description').attr('Py'),
                Picture1: attration.find('.Description').attr('Picture1'),
                Picdescribe1: attration.find('.Description').attr('Picdescribe1'),
                Ticketinfo: attration.find('.Description').attr('Ticketinfo'),
                Description: attration.find('.Description').text()
            };
            bookmark.push(newItem);
            alert("景點已加入書籤");
        }
    </script>

}