@model IEnumerable<_06ADOnet.Models.OrderDetails>
@{
    int i = 1;
    decimal total = 0;
}
<table class="table">
    <thead>
        <tr>
            <th>
                SN
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Products.ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UnitPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Discount)
            </th>


            <th>小計</th>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
            total += item.UnitPrice * item.Quantity * Convert.ToDecimal((1 - item.Discount));
        <tr>
            <td>
                @(i++)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Products.ProductName) @*利用EF viewModel可以使用有關聯的資料表的值 ADO.net要寫sql inner join*@
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnitPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Discount)
            </td>

            <td>
                @(item.UnitPrice*item.Quantity)
            </td>


        </tr>
    }

  
        <tr>
            <th colspan="6" class="text-right"> 總計:@total</th>
        </tr>


</table>

