@model _02View.Models.NightMarket

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

<form method="post" action="/Home/Create">
    <p>
        <label for="Id" class="control-label">夜市編號</label>                         @*要填值   唯讀*@  
        <input id="Id" type="text" class="form-control" name="Id" value="@ViewBag.Id"  required  readonly/>
    </p>
    <p>
        <label for="Name" class="control-label">夜市名稱</label>
        <input id="Name" type="text" class="form-control" name="Name" value="@ViewBag.Name" required />
    </p>
    <p>
        <label for="Address" class="control-label">夜市地址</label>
        <input id="Address" type="text" class="form-control" name="Address"  value="@ViewBag.Address" required/>
    </p>
    <p>
        <input id="Submit1" type="submit" value="送出" class="btn btn-success" />
    </p>
</form>

<hr />
@using (Html.BeginForm())
{
    <p>
        @Html.LabelFor(model => model.Id)  @*   假設Html.LabelFor為函數f,model為函數a=a.Id   
                                                則f(a)=f(a.Id)  可以寫成f(a=>a.Id) 用帶參數的函數當其他函數的參數 
                                                                遇到保留字class前面加@   只有屬性沒有值的屬性用自己等於自己  *@
        @Html.TextBoxFor(model => model.Id, new {@class = "form-control", required= "required",@readonly="readonly" })
    </p>
    <p>
        @Html.LabelFor(model => model.Name)
        @Html.TextBoxFor(model => model.Name, new {@class = "form-control" })
    </p>
    <p>
        @Html.LabelFor(model => model.Address)
        @Html.TextBoxFor(model => model.Address, new {@class = "form-control" })
    </p>
    <p>
        <input id="Submit1" type="submit" value="送出" class="btn btn-success" />
    </p>

}


<hr />
@Html.Raw(ViewBag.Result)

<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
