@model IEnumerable<Tour.Models.Adminstrators>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout_Manager.cshtml";
}

<h2 class="mt-2">帳戶管理</h2>

<p class="float-right">
    @Html.ActionLink("新增管理員", "Create", new {area=""}, new {@class="btn btn-info"})
</p>
<table class="table">
    <tr>
        <th class="col-4">
            @Html.DisplayNameFor(model => model.AdminName)
        </th>
        <th class="col-4">
            @Html.DisplayNameFor(model => model.Account)
        </th>
        <th class="col-4"></th>

    </tr>

@foreach (var item in Model) {
    <tr>
        <td class="col-4">
            @Html.DisplayFor(modelItem => item.AdminName)
        </td>
        <td class="col-4">
            @Html.DisplayFor(modelItem => item.Account)
        </td>
        <td class="col-4">
            @Html.ActionLink("編輯", "Edit", new { id=item.AdminID }, htmlAttributes: new {@class = "btn btn-warning btn-sm" })  
            @Html.ActionLink("刪除", "Delete", new { id=item.AdminID }, htmlAttributes: new { @class = "btn btn-danger btn-sm",@onclick="Confirm_Form()" })
        </td>
    </tr>
}

</table>

@section scripts{
    <script>
        function Confirm_Form() {
            if (!confirm("您確定要刪除嗎?"))
                return false;
        }
    </script>
    }