@model IEnumerable<Tour.Models.Adminstrators>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout_Manager.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th class="col-4">
            @Html.DisplayNameFor(model => model.AdminName)
        </th>
        <th class="col-4">
            @Html.DisplayNameFor(model => model.Account)
        </th>
        <th class="col-4"></th>

    </tr>

@foreach (var item in Model) {
    <tr>
        <td class="col-4">
            @Html.DisplayFor(modelItem => item.AdminName)
        </td>
        <td class="col-4">
            @Html.DisplayFor(modelItem => item.Account)
        </td>
        <td class="col-4">
            @Html.ActionLink("Edit", "Edit", new { id=item.AdminID }, htmlAttributes: new {@class = "btn btn-warning btn-sm" }) 
            @Html.ActionLink("Details", "Details", new { id=item.AdminID }, htmlAttributes: new { @class = "btn btn-success btn-sm" })
            @Html.ActionLink("Delete", "Delete", new { id=item.AdminID }, htmlAttributes: new { @class = "btn btn-danger btn-sm" })
        </td>
    </tr>
}

</table>
